<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form action="/team" method="post">
     <label>Team Name: <input type="text" name="name" /></label><br/>
     <label>Coach: <input type = "text" name="coach" /></label><br/>
     <label>Point Gaurd: <input type="text" name="pg"/></label> <br/>
   </form>

 </body>
</html>
